.main {
    display: flex;
    padding-left: 4cm;
    padding-right: 4cm;
    border: 3px solid;
    align-items: flex-start;
    background-color: grey;
  }
  
  .plus {
    color: white;
    display: flex;
  }
  
  .name {
    color: white;
    font-size: 17px;
  }